/***
 * From "Learn to Program with Minecraft Plugins, CanaryMod Edition"
 * published by The Pragmatic Bookshelf
 * by Andy Hunt
 * Visit http://www.pragmaticprogrammer.com/titles/ahmine2 for more book information.
***/

$PKGLINE

import net.canarymod.plugin.Plugin;
import com.pragprog.ahmine.ez.EZPlugin;


/**
 * Write a description of class $CLASSNAME here.
 * 
 * @author (your name) 
 * @version (a version number or a date)
 */
public class $CLASSNAME extends EZPlugin 
{
	// instance variables - replace the example below with your own
	private int x;	

}
